<a href="https://colab.research.google.com/github/nirvika28/Financials/blob/main/Financials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing pandas and numpy

In [1]:
import pandas as pd
import numpy as np

Reading the csv file which i extracted from the website

Extracted the details of all three companies from the website and put in a excel file and then converted into a csv file for further usage.

In [4]:
df=pd.read_csv('Financials_2021-2023.csv')

In [5]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100

Finding revenue growth and net income growth

In [10]:
# Fill missing values in the 'Company' column with the previous valid value
df['Total Revenue'] = df['Total Revenue'].replace({'\$': '', ',': '', 'B': 'e9', 'M': 'e6'}, regex=True).astype(float)
df['Net Income'] = df['Net Income'].replace({'\$': '', ',': '', 'B': 'e9', 'M':
                                             'e6'}, regex=True).astype(float)
df['Company'] = df['Company'].fillna(method='ffill')

df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100

# Display the updated DataFrame to verify the changes
df

<ipython-input-10-a126fecb2eef>:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Company'] = df['Company'].fillna(method='ffill')

,Company,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%)
0,MSFT,2023,2.119000e+11,7.240000e+10,$411.0B,$198.3B,$89.0B,NaN,NaN
1,MSFT,2022,1.983000e+11,7.270000e+10,$364.8B,$191.8B,$89.0B,-6.418122,0.414365
2,MSFT,2021,1.681000e+11,6.130000e+10,$333.8B,$191.8B,$76.7B,-15.229450,-15.680880
3,TSLA,2023,9.677000e+10,1.499700e+10,$106.62B,$44.47B,$13.26B,NaN,NaN
4,TSLA,2022,8.146000e+10,1.256000e+10,$82.34B,$35.54B,$14.72B,-15.821019,-16.249917
5,TSLA,2021,5.382000e+10,5.520000e+09,$62.13B,$30.89B,$11.50B,-33.930764,-56.050955
6,AAPL,2023,3.832900e+11,9.699000e+10,$384.29B,$267.98B,$110.54B,NaN,NaN
7,AAPL,2022,3.943300e+11,9.980000e+10,$352.75B,$290.45B,$104.04B,2.880326,2.897206
8,AAPL,2021,3.658200e+11,9.468000e+10,$351.00B,$287.91B,$104.04B,-7.229985,-5.130261

Aggregate values:

In [13]:
# Aggregation by company
company_summary = df.groupby('Company').agg({
    'Total Revenue': ['mean', 'sum', 'max'],
    'Net Income': ['mean', 'sum', 'max'],
    'Revenue Growth (%)': 'mean',
    'Net Income Growth (%)': 'mean'
}).reset_index()

# Aggregation by fiscal year


# Display summaries
print("Company Summary:")
print(company_summary)

Company Summary:
  Company Total Revenue                                Net Income  \
                   mean           sum           max          mean
0    AAPL  3.811467e+11  1.143440e+12  3.943300e+11  9.715667e+10
1    MSFT  1.927667e+11  5.783000e+11  2.119000e+11  6.880000e+10
2    TSLA  7.735000e+10  2.320500e+11  9.677000e+10  1.102567e+10

                              Revenue Growth (%) Net Income Growth (%)
            sum           max               mean                  mean
0  2.914700e+11  9.980000e+10          -2.174830             -1.116527
1  2.064000e+11  7.270000e+10         -10.823786             -7.633258
2  3.307700e+10  1.499700e+10         -24.875891            -36.150436

In [14]:
def simple_chatbot(user_query):
    # Example predefined queries
    if user_query == "What is the total revenue?":
        # Example: Return total revenue for all companies in 2023
        result = ""
        for company in df['Company'].unique():
            rev = df[(df['Company'] == company) & (df['Fiscal Year'] == 2023)]['Total Revenue'].values[0]
            result += f"{company} total revenue (2023): ${rev}B\n"
        return result.strip()

    elif user_query == "How has net income changed over the last year?":
        result = ""
        for company in df['Company'].unique():
            ni_2023 = df[(df['Company'] == company) & (df['Fiscal Year'] == 2023)]['Net Income'].values[0]
            ni_2022 = df[(df['Company'] == company) & (df['Fiscal Year'] == 2022)]['Net Income'].values[0]
            diff = ni_2023 - ni_2022
            direction = "increased" if diff > 0 else "decreased"
            result += f"{company} net income has {direction} by ${abs(diff):.2f}B from 2022 to 2023\n"
        return result.strip()

    elif user_query == "What is the profit margin?":
        result = ""
        for company in df['Company'].unique():
            rev = df[(df['Company'] == company) & (df['Fiscal Year'] == 2023)]['Total Revenue'].values[0]
            ni = df[(df['Company'] == company) & (df['Fiscal Year'] == 2023)]['Net Income'].values[0]
            margin = (ni / rev) * 100
            result += f"{company} profit margin (2023): {margin:.2f}%\n"
        return result.strip()

    else:
        return "Sorry, I can only provide information on predefined queries."

In [15]:
# Example test runs
print(simple_chatbot("What is the total revenue?"))
print(simple_chatbot("How has net income changed over the last year?"))
print(simple_chatbot("What is the profit margin?"))
print(simple_chatbot("Who is the CEO?"))

MSFT total revenue (2023): $211900000000.0B
TSLA total revenue (2023): $96770000000.0B
AAPL total revenue (2023): $383290000000.0B
MSFT net income has decreased by $300000000.00B from 2022 to 2023
TSLA net income has increased by $2437000000.00B from 2022 to 2023
AAPL net income has decreased by $2810000000.00B from 2022 to 2023
MSFT profit margin (2023): 34.17%
TSLA profit margin (2023): 15.50%
AAPL profit margin (2023): 25.30%
Sorry, I can only provide information on predefined queries.

In [16]:
while True:
    user_query = input("Ask a financial question (or type 'exit' to quit): ")
    if user_query.lower() == 'exit':
        break
    print(simple_chatbot(user_query))

Ask a financial question (or type 'exit' to quit): What is the total revenue?
MSFT total revenue (2023): $211900000000.0B
TSLA total revenue (2023): $96770000000.0B
AAPL total revenue (2023): $383290000000.0B
Ask a financial question (or type 'exit' to quit): exit